:root{
    --white-clr: hsl(0, 0%, 100%);

    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);

    --graphic-design-text: hsl(167, 40%, 24%);
    --photography-text: hsl(198, 62%, 26%);
    --footer-clr: hsl(168, 34%, 41%);

    --font-barlow: "Barlow", sans-serif;
    --font-Fraunces: "Fraunces", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-barlow);
}

a{
    text-decoration: none;
    font-family: inherit;
}

ul{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

p{
    font-family: var(--font-barlow);
    font-weight: 600;
}

.mobile-img{
    display: none;
    width: 100%;
}

.mobile-img-bottom{
    display: none;
    width: 100%;
}

.desktop-img-bottom{
    width: 100%;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

/* header */
.header{
    min-height: 600px;
    background: url(images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav-items-wrap{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-item{
    color: var(--white-clr);
}

.contact{
    color: var(--very-dark-desaturated-blue);
    background: var(--white-clr);
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 32px;
}

.contact:hover{
    background: rgb(255, 255, 255, 0.3);
    color: var(--white-clr);
}

.mobile-menu-icon{
    cursor: pointer;
    display: none;
}

.mobile-menu{
    display: none;
}


/* hero */
.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.hero-text{
    font-size: 3.5rem;
    color: var(--white-clr);
    font-family: var(--font-Fraunces);
    font-weight: 900;
}

.hero-img-wrap{
    position: absolute;
    bottom: 230px;
}

/* service */
.service-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.standout{
    grid-column: 1/2;
    grid-row: 2/3;
}

.service-content{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    gap: 1.5rem;
    padding: 0 2rem;
}

.service-content h2{
    color: var(--very-dark-desaturated-blue);
    font-size: 3rem;
    font-family: var(--font-Fraunces);
    font-weight: 700;
}

.service-content p{
    color: var(--very-dark-grayish-blue);
    font-size: 1rem;
}

.service-btn{
    position: relative;
    text-transform: uppercase;
}

.service-btn p{
    color: var(--very-dark-desaturated-blue);
    font-family: var(--font-Fraunces);
    font-weight: 700;
}

.link-line{
    width: 100px;
    height: 7px;
    border-radius: 32px;
    position: absolute;
    bottom: 3px;
    z-index: -1;
}

.link-line-red{
    background: var(--soft-red);
}

.link-line-yellow{
    background: var(--yellow);
}

.grahpic-photogragh{
    position: relative;
}

.grahpic-photogragh-content{
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    margin: 0 auto;
}

.grahpic-photogragh-content p{
    max-width: 60%;
}

.grahic-head{
    color: var(--graphic-design-text);
    font-size: 3rem;
    line-height: 3rem;
    font-family: var(--font-Fraunces);
    font-weight: 700;
}

.graphic-paragraph{
    color: var(--graphic-design-text);
}

.photogragh-head{
    color: var(--photography-text);
    font-size: 3rem;
    font-family: var(--font-Fraunces);
    font-weight: 700;
}

.photograph-paragraph{
    color: var(--photography-text);
}

/* testimonial */
.testimonial{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.testimonial-container{
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.testimonial-head{
    color: var(--grayish-blue);
    font-size: 2.5rem;
    font-family: var(--font-Fraunces);
    font-weight: 700;
    text-transform: uppercase;
}

.testimonial-wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 5rem;
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.service-content h2{
    color: var(--very-dark-desaturated-blue);
    font-size: 3rem;
}

.testimonial p{
    color: var(--very-dark-grayish-blue);
    font-size: 1rem;
}

.testimonial-name{
    color: var(--very-dark-desaturated-blue);
    font-size: 1.2rem;
    font-family: var(--font-Fraunces);
    font-weight: 700;
}

.testimonial-title{
    color: var(--grayish-blue);
}

.testimonial-img-wrap{
    width: 70px;
    height: 70px;
}

.testimonial-img-wrap img{
    border-radius: 50%;
}

/* gallery */
.image-gallery-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

/* footer */
footer{
    background: #90d4c5;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
}

.footer-head{
    color: var(--footer-clr);
}

.footer-menu{
    display: flex;
    gap: 1rem;
}

.footer-link{
    color: var(--footer-clr);
}

.footer-link:hover{
    color: var(--white-clr);
}

.social-links{
    display: flex;
    gap: 1rem;
}

/* attributes */
.attribution{
    font-size: 11px; 
    text-align: center;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}

/* media query */
@media (max-width: 1024px){
    .nav-item{
        font-size: 0.9rem;
    }

    .service-content h2 {
        font-size: 2rem;
    }

    .grahpic-photogragh-content{
       bottom: 10px;
    }

    .grahpic-photogragh-content p{
        max-width: 100%;
    }
}

@media (max-width: 768px){
    .desktop-img{
        display: none;
    }

    .mobile-img{
        display: block;
    }

    .hero-img-wrap{
        bottom: 220px;
    }

    .hero-text{
        line-height: 3rem;
    }

    .mobile-menu-icon{
        display: block;
    }

    .nav-items-wrap{
        display: none;
    }

    .mobile-menu{
        margin-left: -800px;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        z-index: 99;
        transition: all 1s ease-out;
    }

    .mobile-menu.active{
        margin-left: 0;
    }

    .triangle{
        align-self: flex-end;
        width: 50px;
        height: 50px;
        background: var(--white-clr);
        clip-path: polygon(104% 0%, 100% 0px, 100% 65%, 102% 108%, 9px 115.00%, 52px 0px);
        margin-bottom: -5px;
    }

    .mobile-nav-div{
        background-color: var(--white-clr);
        padding: 2.5rem 0;
    }

    .mobile-nav-items-wrap{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
    }

    .mobile-nav-items-wrap .nav-item{
        color: var(--very-dark-desaturated-blue);
        font-size: 1rem;
    }

    .mobile-nav-items-wrap .contact{
        background: var(--yellow);
    }

    .service-container{
        grid-template-columns: 1fr;
    }

    .grahpic-photogragh-content{
        bottom: 40px;
     }
 
    .grahpic-photogragh-content p{
        max-width: 60%;
     }

    .image-gallery-container{
        grid-template-columns: repeat(2,1fr);
    }

    .standout{
        grid-row: 1/2;
    }

    .service-content{
        gap: 1.5rem;
        padding: 2rem 1rem;
        align-items: center;
    }

    .service-content h2{
        font-size: 2.5rem;
        text-align: center;
    }

    .service-content p{
        text-align: center;
    }
}

@media (max-width: 640px){
    .mobile-img-bottom{
        display: block;
        width: 100%;
    }

    .desktop-img-bottom{
        display: none;
    }

    .grahpic-photogragh-content p{
        max-width: 100%;
    }

    .footer-menu{
        width: 100%;
        justify-content: space-around;
    }
}